# ----------------------------
# GLOBAL IGNORE FOR DJANGO + REACT
# ----------------------------

# === PYTHON ===
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
*.log

# === DATABASE ===
blog_backend/db.sqlite3

# === DJANGO MEDIA ===
blog_backend/media/

# === ENV FILES ===
*.env
*.env.*

# === NODE ===
blog_frontend/node_modules/
blog_frontend/build/

# === MACOS ===
.DS_Store

# === EDITOR ===
.vscode/
.idea/
